@import "~themes/default.less";

.text-input {
  line-height: 20px;
  border-style: solid;
  padding: 0 10px 0 10px;
  outline: none;
}

.text-input-lg {
  height: 40px;
  width: 28rem;
  font-size: 16px;
  border-radius: 5px;
}

.text-input-sm {
  height: 30px;
  width: 12rem;
  font-size: 14px;
  border-radius: 3px;
}

.text-input-white {
  background-color: white;
  border-color: #d1d5da;
  color: #24292e;
}

.text-input-dark {
  background-color: #3f4448;
  border: 0;
  color: white;
}
